


$color-primary: #294f75;
$color-text: #909ba1;

$color-infor: #03a9f4;
$color-success: #8bc34a;
$color-danger: #f44336;
$color-warning: #ffb300;


$color-01: #26a69a;
$color-02: #338984;
$color-03: #f1709c;
$color-04: #ab47bc;
$color-05: #693f7b;
$color-06: #55D9C0;
$color-07: #0486DB;


