


$color-primary: #294f75;
$color-text: #909ba1;

$color-infor: #03a9f4;
$color-success: #8bc34a;
$color-danger: #f44336;
$color-warning: #ffb300;


$color-01: #26a69a;
$color-04: 	#338984;
$color-02: #f1709c;
$color-03: #b052c0;
$color-05: #693f7b;


